*{
    margin: 0;
    padding: 0;
    font-family:SFPRODISPLAYREGULAR, sans-serif;
    box-sizing: border-box;
}
html{
    scrollbar-width: thin;
    
}
body,html{
    height: 100%;
}
html::-webkit-scrollbar{
    width: 2vh;

}
html::-webkit-scrollbar-thumb{
    background-color: #62626228;
    border-radius: 10px;
    height: 10px;
}
html::-webkit-scrollbar-track{
    background-color: #62626228;

}
@font-face {
    font-family: SFPRODISPLAYREGULAR;
    src: url(font/SFPRODISPLAYREGULAR.OTF);
  }
@font-face {
    font-family: SFPRODISPLAYMEDIUM;
    src: url(font/SFPRODISPLAYMEDIUM.OTF);
  }
@font-face {
    font-family: SFPRODISPLAYBOLD;
    src: url(font/SFPRODISPLAYBOLD.OTF);
  }
body{
    background: #ffffff;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    
}
a,p{
    font-family: SFPRODISPLAYMEDIUM;
    
}
.bg{
  background-image: url("image/bg.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}
.bg2{
    background-image: url("image/bg1.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 2% 10px 1.5%;
    position: sticky;
    top:0;
    z-index: 5;
}
.logo{
    width: 150px;
    padding: 4px;
    margin-right: 16.5px;
  
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}
.nav-left h2{
    margin-left: 35px;
    color: #ffffff;
    font-family: SFPRODISPLAYBOLD;
    margin-top: 10px;
}
.nav-right {
    margin-right: 40px;
    margin-top: 15px;
}
.nav-user-icon img{
    width: 31px;
    border-radius: 20%;
    cursor: pointer;
    margin-top: 3px;
    
}
.nav-button  a{
    border-radius: 8px;
    cursor: pointer;
    margin-right: 23px;
    padding: 10px 22px 12px 22px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}
.notification-icon {
    border-radius: 8px;
    cursor: pointer;
    margin-right: 23px;
    padding: 5px 10px 7px 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
}
.nav-button:hover{
    filter: brightness(1.5);
}
.notification-icon img{
    width: 18px;
    opacity: .5;
    margin-top: 5px;
}
.nav-user-icon{
    margin-left: 20px;
}
.nav-button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-family: SFPRODISPLAYMEDIUM;
    opacity: 1;
}a
.online{
    position:relative;
}

.bg img{
    position: fixed;
    width: 230vh;
}
.content{
    position: fixed;
    margin-top: 90px;
    margin-left: 730px;
    color: #ffffff;
    width:26%

}
.name{
    margin-bottom: 20px;
    font-family: SFPRODISPLAYBOLD ;
    font-size: 20px;
}
.paragraph p{
    font-size: 14px;
    opacity: .8;

}
.button{
    margin-top: 30px;
}
.button a{
    text-decoration: none;
    font-size: 13px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 32px;
    padding: 10px 20px;
    color: #ffffff;
}






.firefly {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0.4vw;
    height: 0.4vw;
    margin: -0.2vw 0 0 9.8vw;
    animation: ease 200s alternate infinite;
    pointer-events: none;
  }
  .firefly::before, .firefly::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw;
  }
  .firefly::before {
    background: black;
    opacity: 0.4;
    animation: drift ease alternate infinite;
  }
  .firefly::after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
    animation: drift ease alternate infinite, flash ease infinite;
  }
  
  .firefly:nth-child(1) {
    animation-name: move1;
  }
  .firefly:nth-child(1)::before {
    animation-duration: 9s;
  }
  .firefly:nth-child(1)::after {
    animation-duration: 9s, 10144ms;
    animation-delay: 0ms, 6083ms;
  }
  
  @keyframes move1 {
    0% {
      transform: translateX(2vw) translateY(20vh) scale(0.42);
    }
    4% {
      transform: translateX(28vw) translateY(2vh) scale(0.81);
    }
    8% {
      transform: translateX(28vw) translateY(14vh) scale(0.78);
    }
    12% {
      transform: translateX(32vw) translateY(50vh) scale(0.36);
    }
    16% {
      transform: translateX(6vw) translateY(-31vh) scale(0.87);
    }
    20% {
      transform: translateX(-3vw) translateY(26vh) scale(0.45);
    }
    24% {
      transform: translateX(-47vw) translateY(17vh) scale(0.35);
    }
    28% {
      transform: translateX(42vw) translateY(-35vh) scale(0.48);
    }
    32% {
      transform: translateX(38vw) translateY(33vh) scale(0.63);
    }
    36% {
      transform: translateX(-43vw) translateY(36vh) scale(0.45);
    }
    40% {
      transform: translateX(-1vw) translateY(37vh) scale(0.6);
    }
    44% {
      transform: translateX(45vw) translateY(42vh) scale(0.28);
    }
    48% {
      transform: translateX(27vw) translateY(21vh) scale(0.4);
    }
    52% {
      transform: translateX(20vw) translateY(24vh) scale(0.58);
    }
    56% {
      transform: translateX(-25vw) translateY(-4vh) scale(0.43);
    }
    60% {
      transform: translateX(-18vw) translateY(15vh) scale(0.43);
    }
    64% {
      transform: translateX(14vw) translateY(6vh) scale(0.96);
    }
    68% {
      transform: translateX(-35vw) translateY(1vh) scale(0.57);
    }
    72% {
      transform: translateX(26vw) translateY(39vh) scale(0.31);
    }
    76% {
      transform: translateX(-7vw) translateY(-48vh) scale(0.35);
    }
    80% {
      transform: translateX(13vw) translateY(35vh) scale(0.47);
    }
    84% {
      transform: translateX(33vw) translateY(20vh) scale(0.9);
    }
    88% {
      transform: translateX(-40vw) translateY(25vh) scale(0.9);
    }
    92% {
      transform: translateX(-9vw) translateY(-21vh) scale(0.61);
    }
    96% {
      transform: translateX(7vw) translateY(44vh) scale(0.94);
    }
    100% {
      transform: translateX(-46vw) translateY(9vh) scale(0.94);
    }
  }
  .firefly:nth-child(2) {
    animation-name: move2;
  }
  .firefly:nth-child(2)::before {
    animation-duration: 11s;
  }
  .firefly:nth-child(2)::after {
    animation-duration: 11s, 8454ms;
    animation-delay: 0ms, 5985ms;
  }
  
  @keyframes move2 {
    0% {
      transform: translateX(-5vw) translateY(13vh) scale(0.31);
    }
    4.347826087% {
      transform: translateX(18vw) translateY(39vh) scale(0.83);
    }
    8.6956521739% {
      transform: translateX(12vw) translateY(-24vh) scale(0.89);
    }
    13.0434782609% {
      transform: translateX(33vw) translateY(-9vh) scale(0.96);
    }
    17.3913043478% {
      transform: translateX(28vw) translateY(-44vh) scale(0.59);
    }
    21.7391304348% {
      transform: translateX(38vw) translateY(-2vh) scale(0.89);
    }
    26.0869565217% {
      transform: translateX(-24vw) translateY(0vh) scale(0.35);
    }
    30.4347826087% {
      transform: translateX(-32vw) translateY(5vh) scale(0.69);
    }
    34.7826086957% {
      transform: translateX(-18vw) translateY(-36vh) scale(0.56);
    }
    39.1304347826% {
      transform: translateX(44vw) translateY(-27vh) scale(1);
    }
    43.4782608696% {
      transform: translateX(33vw) translateY(41vh) scale(0.45);
    }
    47.8260869565% {
      transform: translateX(3vw) translateY(46vh) scale(0.91);
    }
    52.1739130435% {
      transform: translateX(-45vw) translateY(39vh) scale(0.44);
    }
    56.5217391304% {
      transform: translateX(6vw) translateY(-30vh) scale(0.4);
    }
    60.8695652174% {
      transform: translateX(-25vw) translateY(-37vh) scale(0.88);
    }
    65.2173913043% {
      transform: translateX(4vw) translateY(6vh) scale(0.36);
    }
    69.5652173913% {
      transform: translateX(17vw) translateY(-22vh) scale(0.76);
    }
    73.9130434783% {
      transform: translateX(21vw) translateY(-32vh) scale(0.97);
    }
    78.2608695652% {
      transform: translateX(9vw) translateY(-1vh) scale(0.91);
    }
    82.6086956522% {
      transform: translateX(19vw) translateY(0vh) scale(0.88);
    }
    86.9565217391% {
      transform: translateX(0vw) translateY(15vh) scale(0.42);
    }
    91.3043478261% {
      transform: translateX(-1vw) translateY(-45vh) scale(0.8);
    }
    95.652173913% {
      transform: translateX(-20vw) translateY(-8vh) scale(0.86);
    }
    100% {
      transform: translateX(-13vw) translateY(-15vh) scale(0.57);
    }
  }
  .firefly:nth-child(3) {
    animation-name: move3;
  }
  .firefly:nth-child(3)::before {
    animation-duration: 9s;
  }
  .firefly:nth-child(3)::after {
    animation-duration: 9s, 10961ms;
    animation-delay: 0ms, 6660ms;
  }
  
  @keyframes move3 {
    0% {
      transform: translateX(44vw) translateY(-28vh) scale(0.65);
    }
    4.5454545455% {
      transform: translateX(2vw) translateY(-29vh) scale(0.46);
    }
    9.0909090909% {
      transform: translateX(-35vw) translateY(30vh) scale(0.98);
    }
    13.6363636364% {
      transform: translateX(-42vw) translateY(-16vh) scale(0.63);
    }
    18.1818181818% {
      transform: translateX(46vw) translateY(-27vh) scale(0.6);
    }
    22.7272727273% {
      transform: translateX(-35vw) translateY(-12vh) scale(0.49);
    }
    27.2727272727% {
      transform: translateX(-7vw) translateY(39vh) scale(0.7);
    }
    31.8181818182% {
      transform: translateX(-20vw) translateY(39vh) scale(0.8);
    }
    36.3636363636% {
      transform: translateX(-34vw) translateY(-21vh) scale(0.53);
    }
    40.9090909091% {
      transform: translateX(-23vw) translateY(8vh) scale(0.94);
    }
    45.4545454545% {
      transform: translateX(8vw) translateY(14vh) scale(0.59);
    }
    50% {
      transform: translateX(24vw) translateY(8vh) scale(0.33);
    }
    54.5454545455% {
      transform: translateX(-33vw) translateY(-35vh) scale(0.69);
    }
    59.0909090909% {
      transform: translateX(5vw) translateY(-49vh) scale(0.7);
    }
    63.6363636364% {
      transform: translateX(-10vw) translateY(-27vh) scale(0.93);
    }
    68.1818181818% {
      transform: translateX(27vw) translateY(-15vh) scale(0.82);
    }
    72.7272727273% {
      transform: translateX(-3vw) translateY(14vh) scale(0.48);
    }
    77.2727272727% {
      transform: translateX(19vw) translateY(-3vh) scale(0.45);
    }
    81.8181818182% {
      transform: translateX(42vw) translateY(-44vh) scale(0.59);
    }
    86.3636363636% {
      transform: translateX(-5vw) translateY(-15vh) scale(0.78);
    }
    90.9090909091% {
      transform: translateX(-48vw) translateY(2vh) scale(0.62);
    }
    95.4545454545% {
      transform: translateX(-12vw) translateY(17vh) scale(0.88);
    }
    100% {
      transform: translateX(-22vw) translateY(-29vh) scale(0.92);
    }
  }
  .firefly:nth-child(4) {
    animation-name: move4;
  }
  .firefly:nth-child(4)::before {
    animation-duration: 14s;
  }
  .firefly:nth-child(4)::after {
    animation-duration: 14s, 8617ms;
    animation-delay: 0ms, 6824ms;
  }
  
  @keyframes move4 {
    0% {
      transform: translateX(0vw) translateY(-22vh) scale(0.97);
    }
    5.8823529412% {
      transform: translateX(-33vw) translateY(-21vh) scale(0.43);
    }
    11.7647058824% {
      transform: translateX(-38vw) translateY(-11vh) scale(0.86);
    }
    17.6470588235% {
      transform: translateX(-30vw) translateY(38vh) scale(0.88);
    }
    23.5294117647% {
      transform: translateX(-43vw) translateY(-37vh) scale(0.6);
    }
    29.4117647059% {
      transform: translateX(3vw) translateY(21vh) scale(0.44);
    }
    35.2941176471% {
      transform: translateX(35vw) translateY(17vh) scale(0.34);
    }
    41.1764705882% {
      transform: translateX(-46vw) translateY(43vh) scale(0.9);
    }
    47.0588235294% {
      transform: translateX(45vw) translateY(-16vh) scale(0.48);
    }
    52.9411764706% {
      transform: translateX(23vw) translateY(37vh) scale(0.79);
    }
    58.8235294118% {
      transform: translateX(39vw) translateY(11vh) scale(0.31);
    }
    64.7058823529% {
      transform: translateX(11vw) translateY(-10vh) scale(0.35);
    }
    70.5882352941% {
      transform: translateX(11vw) translateY(-5vh) scale(0.69);
    }
    76.4705882353% {
      transform: translateX(-32vw) translateY(-28vh) scale(0.66);
    }
    82.3529411765% {
      transform: translateX(22vw) translateY(-44vh) scale(0.63);
    }
    88.2352941176% {
      transform: translateX(-45vw) translateY(5vh) scale(0.33);
    }
    94.1176470588% {
      transform: translateX(36vw) translateY(11vh) scale(0.46);
    }
    100% {
      transform: translateX(8vw) translateY(-6vh) scale(0.91);
    }
  }
  .firefly:nth-child(5) {
    animation-name: move5;
  }
  .firefly:nth-child(5)::before {
    animation-duration: 15s;
  }
  .firefly:nth-child(5)::after {
    animation-duration: 15s, 8530ms;
    animation-delay: 0ms, 7575ms;
  }
  
  @keyframes move5 {
    0% {
      transform: translateX(43vw) translateY(-27vh) scale(0.66);
    }
    5.5555555556% {
      transform: translateX(-15vw) translateY(1vh) scale(0.67);
    }
    11.1111111111% {
      transform: translateX(-25vw) translateY(45vh) scale(0.94);
    }
    16.6666666667% {
      transform: translateX(44vw) translateY(-14vh) scale(0.51);
    }
    22.2222222222% {
      transform: translateX(29vw) translateY(-36vh) scale(0.95);
    }
    27.7777777778% {
      transform: translateX(-3vw) translateY(-2vh) scale(0.8);
    }
    33.3333333333% {
      transform: translateX(19vw) translateY(21vh) scale(0.98);
    }
    38.8888888889% {
      transform: translateX(-41vw) translateY(-22vh) scale(0.51);
    }
    44.4444444444% {
      transform: translateX(-42vw) translateY(-20vh) scale(0.59);
    }
    50% {
      transform: translateX(9vw) translateY(16vh) scale(0.72);
    }
    55.5555555556% {
      transform: translateX(8vw) translateY(23vh) scale(0.95);
    }
    61.1111111111% {
      transform: translateX(-47vw) translateY(-8vh) scale(0.64);
    }
    66.6666666667% {
      transform: translateX(19vw) translateY(5vh) scale(0.53);
    }
    72.2222222222% {
      transform: translateX(-17vw) translateY(-31vh) scale(0.31);
    }
    77.7777777778% {
      transform: translateX(18vw) translateY(-36vh) scale(0.88);
    }
    83.3333333333% {
      transform: translateX(-1vw) translateY(10vh) scale(0.32);
    }
    88.8888888889% {
      transform: translateX(-18vw) translateY(-45vh) scale(0.67);
    }
    94.4444444444% {
      transform: translateX(-37vw) translateY(-14vh) scale(0.83);
    }
    100% {
      transform: translateX(39vw) translateY(-14vh) scale(0.89);
    }
  }
  .firefly:nth-child(6) {
    animation-name: move6;
  }
  .firefly:nth-child(6)::before {
    animation-duration: 14s;
  }
  .firefly:nth-child(6)::after {
    animation-duration: 14s, 8719ms;
    animation-delay: 0ms, 6141ms;
  }
  
  @keyframes move6 {
    0% {
      transform: translateX(10vw) translateY(-46vh) scale(0.49);
    }
    5.5555555556% {
      transform: translateX(40vw) translateY(38vh) scale(0.44);
    }
    11.1111111111% {
      transform: translateX(35vw) translateY(-5vh) scale(0.3);
    }
    16.6666666667% {
      transform: translateX(31vw) translateY(-3vh) scale(0.65);
    }
    22.2222222222% {
      transform: translateX(-14vw) translateY(2vh) scale(0.38);
    }
    27.7777777778% {
      transform: translateX(-21vw) translateY(-19vh) scale(0.9);
    }
    33.3333333333% {
      transform: translateX(44vw) translateY(-48vh) scale(0.89);
    }
    38.8888888889% {
      transform: translateX(24vw) translateY(-23vh) scale(0.42);
    }
    44.4444444444% {
      transform: translateX(-12vw) translateY(-21vh) scale(0.34);
    }
    50% {
      transform: translateX(24vw) translateY(-6vh) scale(0.43);
    }
    55.5555555556% {
      transform: translateX(-29vw) translateY(13vh) scale(0.43);
    }
    61.1111111111% {
      transform: translateX(-29vw) translateY(21vh) scale(0.58);
    }
    66.6666666667% {
      transform: translateX(-3vw) translateY(38vh) scale(0.56);
    }
    72.2222222222% {
      transform: translateX(-21vw) translateY(19vh) scale(0.62);
    }
    77.7777777778% {
      transform: translateX(45vw) translateY(11vh) scale(0.9);
    }
    83.3333333333% {
      transform: translateX(34vw) translateY(34vh) scale(0.89);
    }
    88.8888888889% {
      transform: translateX(-3vw) translateY(42vh) scale(0.28);
    }
    94.4444444444% {
      transform: translateX(-3vw) translateY(50vh) scale(0.56);
    }
    100% {
      transform: translateX(39vw) translateY(26vh) scale(0.76);
    }
  }
  .firefly:nth-child(7) {
    animation-name: move7;
  }
  .firefly:nth-child(7)::before {
    animation-duration: 13s;
  }
  .firefly:nth-child(7)::after {
    animation-duration: 13s, 8274ms;
    animation-delay: 0ms, 5672ms;
  }
  
  @keyframes move7 {
    0% {
      transform: translateX(-11vw) translateY(29vh) scale(0.67);
    }
    4.7619047619% {
      transform: translateX(27vw) translateY(-12vh) scale(0.57);
    }
    9.5238095238% {
      transform: translateX(6vw) translateY(-26vh) scale(0.43);
    }
    14.2857142857% {
      transform: translateX(-43vw) translateY(30vh) scale(0.8);
    }
    19.0476190476% {
      transform: translateX(-22vw) translateY(-27vh) scale(0.7);
    }
    23.8095238095% {
      transform: translateX(-6vw) translateY(-45vh) scale(0.78);
    }
    28.5714285714% {
      transform: translateX(-49vw) translateY(19vh) scale(0.29);
    }
    33.3333333333% {
      transform: translateX(-7vw) translateY(-14vh) scale(0.62);
    }
    38.0952380952% {
      transform: translateX(47vw) translateY(7vh) scale(0.91);
    }
    42.8571428571% {
      transform: translateX(-40vw) translateY(-46vh) scale(0.59);
    }
    47.619047619% {
      transform: translateX(-18vw) translateY(40vh) scale(0.43);
    }
    52.380952381% {
      transform: translateX(36vw) translateY(45vh) scale(0.28);
    }
    57.1428571429% {
      transform: translateX(34vw) translateY(46vh) scale(0.41);
    }
    61.9047619048% {
      transform: translateX(48vw) translateY(20vh) scale(0.58);
    }
    66.6666666667% {
      transform: translateX(13vw) translateY(-43vh) scale(0.69);
    }
    71.4285714286% {
      transform: translateX(31vw) translateY(-47vh) scale(0.83);
    }
    76.1904761905% {
      transform: translateX(1vw) translateY(-46vh) scale(0.83);
    }
    80.9523809524% {
      transform: translateX(-5vw) translateY(44vh) scale(0.49);
    }
    85.7142857143% {
      transform: translateX(-34vw) translateY(4vh) scale(0.3);
    }
    90.4761904762% {
      transform: translateX(10vw) translateY(33vh) scale(0.59);
    }
    95.2380952381% {
      transform: translateX(38vw) translateY(-41vh) scale(0.75);
    }
    100% {
      transform: translateX(-23vw) translateY(-39vh) scale(0.64);
    }
  }
  .firefly:nth-child(8) {
    animation-name: move8;
  }
  .firefly:nth-child(8)::before {
    animation-duration: 12s;
  }
  .firefly:nth-child(8)::after {
    animation-duration: 12s, 6153ms;
    animation-delay: 0ms, 1200ms;
  }
  
  @keyframes move8 {
    0% {
      transform: translateX(-15vw) translateY(-15vh) scale(0.53);
    }
    5.8823529412% {
      transform: translateX(40vw) translateY(11vh) scale(0.62);
    }
    11.7647058824% {
      transform: translateX(18vw) translateY(1vh) scale(0.61);
    }
    17.6470588235% {
      transform: translateX(-1vw) translateY(-14vh) scale(0.77);
    }
    23.5294117647% {
      transform: translateX(1vw) translateY(-38vh) scale(0.57);
    }
    29.4117647059% {
      transform: translateX(45vw) translateY(49vh) scale(0.49);
    }
    35.2941176471% {
      transform: translateX(48vw) translateY(10vh) scale(0.55);
    }
    41.1764705882% {
      transform: translateX(40vw) translateY(17vh) scale(0.77);
    }
    47.0588235294% {
      transform: translateX(50vw) translateY(-5vh) scale(0.3);
    }
    52.9411764706% {
      transform: translateX(-2vw) translateY(-45vh) scale(0.31);
    }
    58.8235294118% {
      transform: translateX(24vw) translateY(-16vh) scale(0.68);
    }
    64.7058823529% {
      transform: translateX(2vw) translateY(-11vh) scale(0.31);
    }
    70.5882352941% {
      transform: translateX(16vw) translateY(14vh) scale(0.89);
    }
    76.4705882353% {
      transform: translateX(39vw) translateY(-18vh) scale(0.32);
    }
    82.3529411765% {
      transform: translateX(22vw) translateY(-43vh) scale(0.74);
    }
    88.2352941176% {
      transform: translateX(11vw) translateY(-31vh) scale(0.6);
    }
    94.1176470588% {
      transform: translateX(-28vw) translateY(-11vh) scale(0.86);
    }
    100% {
      transform: translateX(-3vw) translateY(-10vh) scale(0.29);
    }
  }
  .firefly:nth-child(9) {
    animation-name: move9;
  }
  .firefly:nth-child(9)::before {
    animation-duration: 16s;
  }
  .firefly:nth-child(9)::after {
    animation-duration: 16s, 5338ms;
    animation-delay: 0ms, 2758ms;
  }
  
  @keyframes move9 {
    0% {
      transform: translateX(24vw) translateY(-18vh) scale(0.72);
    }
    3.5714285714% {
      transform: translateX(-37vw) translateY(-17vh) scale(0.71);
    }
    7.1428571429% {
      transform: translateX(-9vw) translateY(-10vh) scale(0.57);
    }
    10.7142857143% {
      transform: translateX(3vw) translateY(-34vh) scale(0.69);
    }
    14.2857142857% {
      transform: translateX(32vw) translateY(23vh) scale(0.38);
    }
    17.8571428571% {
      transform: translateX(-47vw) translateY(45vh) scale(0.93);
    }
    21.4285714286% {
      transform: translateX(16vw) translateY(24vh) scale(0.48);
    }
    25% {
      transform: translateX(12vw) translateY(3vh) scale(0.3);
    }
    28.5714285714% {
      transform: translateX(-25vw) translateY(-31vh) scale(0.3);
    }
    32.1428571429% {
      transform: translateX(31vw) translateY(5vh) scale(0.92);
    }
    35.7142857143% {
      transform: translateX(-40vw) translateY(-33vh) scale(0.76);
    }
    39.2857142857% {
      transform: translateX(40vw) translateY(50vh) scale(0.83);
    }
    42.8571428571% {
      transform: translateX(50vw) translateY(-1vh) scale(0.4);
    }
    46.4285714286% {
      transform: translateX(-33vw) translateY(-22vh) scale(0.73);
    }
    50% {
      transform: translateX(-47vw) translateY(-1vh) scale(0.94);
    }
    53.5714285714% {
      transform: translateX(6vw) translateY(36vh) scale(0.78);
    }
    57.1428571429% {
      transform: translateX(50vw) translateY(31vh) scale(0.35);
    }
    60.7142857143% {
      transform: translateX(-25vw) translateY(-32vh) scale(0.66);
    }
    64.2857142857% {
      transform: translateX(24vw) translateY(-3vh) scale(0.89);
    }
    67.8571428571% {
      transform: translateX(28vw) translateY(18vh) scale(0.85);
    }
    71.4285714286% {
      transform: translateX(-17vw) translateY(47vh) scale(0.41);
    }
    75% {
      transform: translateX(-33vw) translateY(13vh) scale(0.76);
    }
    78.5714285714% {
      transform: translateX(40vw) translateY(27vh) scale(0.84);
    }
    82.1428571429% {
      transform: translateX(38vw) translateY(-4vh) scale(0.43);
    }
    85.7142857143% {
      transform: translateX(-46vw) translateY(8vh) scale(0.74);
    }
    89.2857142857% {
      transform: translateX(-36vw) translateY(10vh) scale(0.34);
    }
    92.8571428571% {
      transform: translateX(8vw) translateY(-19vh) scale(0.28);
    }
    96.4285714286% {
      transform: translateX(-48vw) translateY(35vh) scale(0.98);
    }
    100% {
      transform: translateX(-8vw) translateY(26vh) scale(0.7);
    }
  }
  .firefly:nth-child(10) {
    animation-name: move10;
  }
  .firefly:nth-child(10)::before {
    animation-duration: 11s;
  }
  .firefly:nth-child(10)::after {
    animation-duration: 11s, 8377ms;
    animation-delay: 0ms, 3269ms;
  }
  
  @keyframes move10 {
    0% {
      transform: translateX(47vw) translateY(-24vh) scale(0.36);
    }
    4.347826087% {
      transform: translateX(42vw) translateY(14vh) scale(0.69);
    }
    8.6956521739% {
      transform: translateX(-18vw) translateY(36vh) scale(0.79);
    }
    13.0434782609% {
      transform: translateX(-36vw) translateY(16vh) scale(0.87);
    }
    17.3913043478% {
      transform: translateX(-47vw) translateY(-31vh) scale(0.31);
    }
    21.7391304348% {
      transform: translateX(-37vw) translateY(25vh) scale(0.98);
    }
    26.0869565217% {
      transform: translateX(-23vw) translateY(-40vh) scale(0.88);
    }
    30.4347826087% {
      transform: translateX(24vw) translateY(-27vh) scale(0.28);
    }
    34.7826086957% {
      transform: translateX(14vw) translateY(32vh) scale(0.96);
    }
    39.1304347826% {
      transform: translateX(46vw) translateY(-3vh) scale(0.4);
    }
    43.4782608696% {
      transform: translateX(3vw) translateY(8vh) scale(0.85);
    }
    47.8260869565% {
      transform: translateX(-45vw) translateY(-18vh) scale(0.29);
    }
    52.1739130435% {
      transform: translateX(-9vw) translateY(-27vh) scale(0.47);
    }
    56.5217391304% {
      transform: translateX(22vw) translateY(25vh) scale(0.95);
    }
    60.8695652174% {
      transform: translateX(23vw) translateY(-10vh) scale(0.57);
    }
    65.2173913043% {
      transform: translateX(16vw) translateY(-5vh) scale(0.56);
    }
    69.5652173913% {
      transform: translateX(33vw) translateY(48vh) scale(0.85);
    }
    73.9130434783% {
      transform: translateX(1vw) translateY(-41vh) scale(0.28);
    }
    78.2608695652% {
      transform: translateX(-7vw) translateY(-25vh) scale(0.62);
    }
    82.6086956522% {
      transform: translateX(46vw) translateY(-40vh) scale(0.56);
    }
    86.9565217391% {
      transform: translateX(-26vw) translateY(-49vh) scale(0.84);
    }
    91.3043478261% {
      transform: translateX(-22vw) translateY(10vh) scale(0.41);
    }
    95.652173913% {
      transform: translateX(17vw) translateY(-39vh) scale(0.41);
    }
    100% {
      transform: translateX(47vw) translateY(-21vh) scale(0.74);
    }
  }
  .firefly:nth-child(11) {
    animation-name: move11;
  }
  .firefly:nth-child(11)::before {
    animation-duration: 17s;
  }
  .firefly:nth-child(11)::after {
    animation-duration: 17s, 5448ms;
    animation-delay: 0ms, 7334ms;
  }
  
  @keyframes move11 {
    0% {
      transform: translateX(-10vw) translateY(-27vh) scale(0.87);
    }
    5.2631578947% {
      transform: translateX(48vw) translateY(27vh) scale(0.38);
    }
    10.5263157895% {
      transform: translateX(-48vw) translateY(-47vh) scale(0.76);
    }
    15.7894736842% {
      transform: translateX(1vw) translateY(-38vh) scale(0.97);
    }
    21.0526315789% {
      transform: translateX(-40vw) translateY(-28vh) scale(0.83);
    }
    26.3157894737% {
      transform: translateX(1vw) translateY(-14vh) scale(0.57);
    }
    31.5789473684% {
      transform: translateX(-49vw) translateY(-4vh) scale(0.78);
    }
    36.8421052632% {
      transform: translateX(5vw) translateY(18vh) scale(0.78);
    }
    42.1052631579% {
      transform: translateX(-2vw) translateY(10vh) scale(0.26);
    }
    47.3684210526% {
      transform: translateX(46vw) translateY(-15vh) scale(0.64);
    }
    52.6315789474% {
      transform: translateX(-28vw) translateY(-6vh) scale(0.51);
    }
    57.8947368421% {
      transform: translateX(9vw) translateY(-6vh) scale(0.67);
    }
    63.1578947368% {
      transform: translateX(30vw) translateY(-16vh) scale(0.42);
    }
    68.4210526316% {
      transform: translateX(-16vw) translateY(37vh) scale(0.59);
    }
    73.6842105263% {
      transform: translateX(-6vw) translateY(10vh) scale(0.6);
    }
    78.9473684211% {
      transform: translateX(-31vw) translateY(-8vh) scale(0.55);
    }
    84.2105263158% {
      transform: translateX(45vw) translateY(37vh) scale(0.56);
    }
    89.4736842105% {
      transform: translateX(-35vw) translateY(-25vh) scale(0.61);
    }
    94.7368421053% {
      transform: translateX(-8vw) translateY(24vh) scale(0.64);
    }
    100% {
      transform: translateX(4vw) translateY(-42vh) scale(0.85);
    }
  }
  .firefly:nth-child(12) {
    animation-name: move12;
  }
  .firefly:nth-child(12)::before {
    animation-duration: 13s;
  }
  .firefly:nth-child(12)::after {
    animation-duration: 13s, 6242ms;
    animation-delay: 0ms, 1692ms;
  }
  
  @keyframes move12 {
    0% {
      transform: translateX(17vw) translateY(5vh) scale(0.73);
    }
    5.2631578947% {
      transform: translateX(-11vw) translateY(-18vh) scale(0.39);
    }
    10.5263157895% {
      transform: translateX(11vw) translateY(12vh) scale(0.87);
    }
    15.7894736842% {
      transform: translateX(42vw) translateY(25vh) scale(0.31);
    }
    21.0526315789% {
      transform: translateX(-42vw) translateY(32vh) scale(0.82);
    }
    26.3157894737% {
      transform: translateX(-34vw) translateY(-19vh) scale(0.27);
    }
    31.5789473684% {
      transform: translateX(15vw) translateY(-13vh) scale(0.68);
    }
    36.8421052632% {
      transform: translateX(-28vw) translateY(50vh) scale(0.77);
    }
    42.1052631579% {
      transform: translateX(-34vw) translateY(-19vh) scale(0.38);
    }
    47.3684210526% {
      transform: translateX(38vw) translateY(1vh) scale(0.38);
    }
    52.6315789474% {
      transform: translateX(6vw) translateY(13vh) scale(0.28);
    }
    57.8947368421% {
      transform: translateX(-29vw) translateY(-33vh) scale(0.6);
    }
    63.1578947368% {
      transform: translateX(-13vw) translateY(-22vh) scale(0.91);
    }
    68.4210526316% {
      transform: translateX(-5vw) translateY(-15vh) scale(0.34);
    }
    73.6842105263% {
      transform: translateX(-1vw) translateY(12vh) scale(0.32);
    }
    78.9473684211% {
      transform: translateX(44vw) translateY(48vh) scale(0.81);
    }
    84.2105263158% {
      transform: translateX(-37vw) translateY(-34vh) scale(0.95);
    }
    89.4736842105% {
      transform: translateX(39vw) translateY(-13vh) scale(0.58);
    }
    94.7368421053% {
      transform: translateX(49vw) translateY(-17vh) scale(0.81);
    }
    100% {
      transform: translateX(30vw) translateY(48vh) scale(0.87);
    }
  }
  .firefly:nth-child(13) {
    animation-name: move13;
  }
  .firefly:nth-child(13)::before {
    animation-duration: 9s;
  }
  .firefly:nth-child(13)::after {
    animation-duration: 9s, 9554ms;
    animation-delay: 0ms, 5667ms;
  }
  
  @keyframes move13 {
    0% {
      transform: translateX(-7vw) translateY(-5vh) scale(0.48);
    }
    4% {
      transform: translateX(40vw) translateY(11vh) scale(0.73);
    }
    8% {
      transform: translateX(-13vw) translateY(-39vh) scale(0.36);
    }
    12% {
      transform: translateX(17vw) translateY(-11vh) scale(0.4);
    }
    16% {
      transform: translateX(-30vw) translateY(-45vh) scale(0.94);
    }
    20% {
      transform: translateX(26vw) translateY(12vh) scale(0.47);
    }
    24% {
      transform: translateX(10vw) translateY(-13vh) scale(0.27);
    }
    28% {
      transform: translateX(-4vw) translateY(5vh) scale(0.93);
    }
    32% {
      transform: translateX(-35vw) translateY(-36vh) scale(0.38);
    }
    36% {
      transform: translateX(-32vw) translateY(-33vh) scale(0.6);
    }
    40% {
      transform: translateX(18vw) translateY(44vh) scale(0.83);
    }
    44% {
      transform: translateX(-12vw) translateY(-36vh) scale(1);
    }
    48% {
      transform: translateX(-24vw) translateY(-36vh) scale(0.71);
    }
    52% {
      transform: translateX(-31vw) translateY(18vh) scale(0.43);
    }
    56% {
      transform: translateX(-32vw) translateY(-8vh) scale(0.84);
    }
    60% {
      transform: translateX(-14vw) translateY(38vh) scale(0.69);
    }
    64% {
      transform: translateX(5vw) translateY(-17vh) scale(0.65);
    }
    68% {
      transform: translateX(7vw) translateY(33vh) scale(0.74);
    }
    72% {
      transform: translateX(43vw) translateY(-35vh) scale(0.83);
    }
    76% {
      transform: translateX(-29vw) translateY(21vh) scale(0.3);
    }
    80% {
      transform: translateX(18vw) translateY(30vh) scale(0.97);
    }
    84% {
      transform: translateX(-39vw) translateY(0vh) scale(0.74);
    }
    88% {
      transform: translateX(33vw) translateY(25vh) scale(0.67);
    }
    92% {
      transform: translateX(20vw) translateY(-24vh) scale(0.61);
    }
    96% {
      transform: translateX(9vw) translateY(-11vh) scale(0.47);
    }
    100% {
      transform: translateX(36vw) translateY(-30vh) scale(0.35);
    }
  }
  .firefly:nth-child(14) {
    animation-name: move14;
  }
  .firefly:nth-child(14)::before {
    animation-duration: 17s;
  }
  .firefly:nth-child(14)::after {
    animation-duration: 17s, 6631ms;
    animation-delay: 0ms, 5010ms;
  }
  
  @keyframes move14 {
    0% {
      transform: translateX(-40vw) translateY(-8vh) scale(0.76);
    }
    4.7619047619% {
      transform: translateX(24vw) translateY(8vh) scale(0.45);
    }
    9.5238095238% {
      transform: translateX(19vw) translateY(-4vh) scale(0.67);
    }
    14.2857142857% {
      transform: translateX(38vw) translateY(47vh) scale(0.74);
    }
    19.0476190476% {
      transform: translateX(48vw) translateY(-33vh) scale(0.62);
    }
    23.8095238095% {
      transform: translateX(-25vw) translateY(-39vh) scale(0.75);
    }
    28.5714285714% {
      transform: translateX(47vw) translateY(34vh) scale(0.98);
    }
    33.3333333333% {
      transform: translateX(-19vw) translateY(32vh) scale(0.45);
    }
    38.0952380952% {
      transform: translateX(8vw) translateY(-23vh) scale(0.61);
    }
    42.8571428571% {
      transform: translateX(16vw) translateY(-32vh) scale(0.48);
    }
    47.619047619% {
      transform: translateX(-17vw) translateY(-6vh) scale(0.69);
    }
    52.380952381% {
      transform: translateX(-35vw) translateY(-27vh) scale(0.29);
    }
    57.1428571429% {
      transform: translateX(21vw) translateY(9vh) scale(0.49);
    }
    61.9047619048% {
      transform: translateX(32vw) translateY(-21vh) scale(0.81);
    }
    66.6666666667% {
      transform: translateX(8vw) translateY(-43vh) scale(0.88);
    }
    71.4285714286% {
      transform: translateX(9vw) translateY(-6vh) scale(0.86);
    }
    76.1904761905% {
      transform: translateX(23vw) translateY(49vh) scale(0.38);
    }
    80.9523809524% {
      transform: translateX(5vw) translateY(0vh) scale(0.76);
    }
    85.7142857143% {
      transform: translateX(18vw) translateY(-14vh) scale(0.54);
    }
    90.4761904762% {
      transform: translateX(-46vw) translateY(-23vh) scale(0.89);
    }
    95.2380952381% {
      transform: translateX(10vw) translateY(14vh) scale(0.65);
    }
    100% {
      transform: translateX(30vw) translateY(-2vh) scale(0.55);
    }
  }
  .firefly:nth-child(15) {
    animation-name: move15;
  }
  .firefly:nth-child(15)::before {
    animation-duration: 15s;
  }
  .firefly:nth-child(15)::after {
    animation-duration: 15s, 7578ms;
    animation-delay: 0ms, 4189ms;
  }
  
  @keyframes move15 {
    0% {
      transform: translateX(-11vw) translateY(37vh) scale(0.64);
    }
    3.8461538462% {
      transform: translateX(1vw) translateY(0vh) scale(0.89);
    }
    7.6923076923% {
      transform: translateX(-29vw) translateY(25vh) scale(0.81);
    }
    11.5384615385% {
      transform: translateX(7vw) translateY(31vh) scale(0.86);
    }
    15.3846153846% {
      transform: translateX(-42vw) translateY(-27vh) scale(0.8);
    }
    19.2307692308% {
      transform: translateX(42vw) translateY(-35vh) scale(0.31);
    }
    23.0769230769% {
      transform: translateX(5vw) translateY(24vh) scale(0.82);
    }
    26.9230769231% {
      transform: translateX(-27vw) translateY(25vh) scale(0.31);
    }
    30.7692307692% {
      transform: translateX(-47vw) translateY(19vh) scale(0.34);
    }
    34.6153846154% {
      transform: translateX(-42vw) translateY(-37vh) scale(0.42);
    }
    38.4615384615% {
      transform: translateX(-33vw) translateY(-22vh) scale(0.95);
    }
    42.3076923077% {
      transform: translateX(27vw) translateY(-48vh) scale(0.53);
    }
    46.1538461538% {
      transform: translateX(-6vw) translateY(-2vh) scale(0.39);
    }
    50% {
      transform: translateX(40vw) translateY(22vh) scale(0.26);
    }
    53.8461538462% {
      transform: translateX(45vw) translateY(16vh) scale(0.48);
    }
    57.6923076923% {
      transform: translateX(-18vw) translateY(4vh) scale(0.67);
    }
    61.5384615385% {
      transform: translateX(42vw) translateY(-44vh) scale(0.34);
    }
    65.3846153846% {
      transform: translateX(-6vw) translateY(-35vh) scale(0.63);
    }
    69.2307692308% {
      transform: translateX(5vw) translateY(-31vh) scale(0.5);
    }
    73.0769230769% {
      transform: translateX(43vw) translateY(-39vh) scale(0.88);
    }
    76.9230769231% {
      transform: translateX(28vw) translateY(48vh) scale(0.35);
    }
    80.7692307692% {
      transform: translateX(-12vw) translateY(25vh) scale(0.53);
    }
    84.6153846154% {
      transform: translateX(25vw) translateY(19vh) scale(0.58);
    }
    88.4615384615% {
      transform: translateX(-19vw) translateY(4vh) scale(0.93);
    }
    92.3076923077% {
      transform: translateX(-39vw) translateY(48vh) scale(0.46);
    }
    96.1538461538% {
      transform: translateX(-12vw) translateY(-35vh) scale(1);
    }
    100% {
      transform: translateX(44vw) translateY(-21vh) scale(0.57);
    }
  }
  @keyframes drift {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes flash {
    0%, 30%, 100% {
      opacity: 0;
      box-shadow: 0 0 0vw 0vw yellow;
    }
    5% {
      opacity: 1;
      box-shadow: 0 0 2vw 0.4vw yellow;
    }
  }