<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/stylesheets/{{style}}">
  <title>Document</title>
</head>

<body>

  <body class="color0 text-gray-100 px-8 py-12 overflow-hidden">
    <div class="text-center w-full">

    </div>
    <div
      class="max-w-screen-xl mt-24 px-8 grid gap-8 grid-cols-1 md:grid-cols-2 md:px-12 lg:px-16 xl:px-32 py-16 mx-auto color1 text-gray-900 rounded-lg shadow-lg">
      <img class="avatar1" src="Extra2.png">
      <div class="flex flex-col justify-between">

        <img class="avatar1 outline" src="\images\Extra2.png">
        <div>
          <h2 class="text-4xl lg:text-5xl font-bold leading-tight text-color2">Lets talk about everything!</h2>
          <div class="text-color1 semibold mt-8">
            Hate forms? Send us an <span class="underline">email</span> instead.
          </div>
        </div>
        <div class="mt-8 text-center">




          </svg>
        </div>
      </div>
      <div class="">

        <form class="" action="/contact" method="post"></form>
        <div>
          <span class="uppercase text-sm text-gray-600 font-bold">Full Name</span>
          <input class="w-full bg-gray-300 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
            type="text" name="person">
        </div>
        <div class="mt-8">
          <span class="uppercase text-sm text-gray-600 font-bold">Phone</span>
          <input class="w-full bg-gray-300 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
            type="text" name="phone">
        </div>
        <div class="mt-8">
          <span class="uppercase text-sm text-gray-600 font-bold">Phone</span>
          <input class="w-full bg-gray-300 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"
            type="text" name="phone">
        </div>
        <div class="mt-8">
          <span class="uppercase text-sm text-gray-600 font-bold">Message</span>
          <textarea
            class="w-full h-32 bg-gray-300 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline"></textarea>
        </div>
        <div class="mt-8">
          <button
            class="uppercase text-sm font-bold tracking-wide bg-indigo-500 text-gray-100 p-3 rounded-lg w-full focus:outline-none focus:shadow-outline">
            Send Message
          </button>
        </div>
        </form>

      </div>
    </div>
  </body>
</body>

</html>