<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/{{style}}">
   <script src="https://cdn.tailwindcss.com"></script>
  <script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
  <link rel="icon" type="image/x-icon" href="image/">
</head>

<body>

  <div class="bg3">

  </div>


  <nav class="nav1 backdrop-opacity-10 backdrop-blur-lg md:backdrop-blur-lg xl:md:bg-transparent">
         <div class="nav-left">
               <a href="/"><img class="logo" src="/image/logo.png"></a>
    
         </div>
          <div class="w-6 block md:hidden">
            <label for="navbarToggler">
                <div class="h-1 my-1 bg-white border-[1px] border-white"></div>
                <div class="h-1 my-1 bg-white border-[1px] border-white"></div>
                <div class="h-1 my-1 bg-white border-[1px] border-white"></div>
            </label>
        </div>
        <input type="checkbox" id="navbarToggler" class="hidden">
         <div class="nav-right top-16 left-0 hidden md:flex flex-col  md:flex-row justify-evenly items-center m-6 gap-6 ">
          
              <div class="nav-button transition duration-300 hover:scale-105">
                <a href="/">Home</a>
              </div>
              <div class="nav-button transition duration-300 hover:scale-105">
                <a href="/powers">Features</a>
              </div>
              <div class="nav-button transition duration-300 hover:scale-105">
                <a href="/merch">Merchandise</a>
              </div>
              <div class="nav-button  transition duration-300 hover:scale-105">
                <a href="/contact">Contact Me</a>
              </div>
              
         </div>
     </nav>


  <div class="container">
    <div class="birds front">
      <div class="bird b1">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b2">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b3">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b4">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b5">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b6">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b7">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b8">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b9">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b10">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b11">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b12">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="birds back">
      <div class="bird b1">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b2">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b3">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b4">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b5">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b6">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b7">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b8">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b9">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b10">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b11">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
      <div class="bird b12">
        <div class="body"></div>
        <div class="wing1">
          <div class="wing2">
            <div class="wing3"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="cloud big">
      <div class="circle c0"></div>
      <div class="circle c1"></div>
      <div class="circle c2"></div>
      <div class="circle c3"></div>
      <div class="circle c4"></div>
      <div class="circle c5"></div>
      <div class="circle c6"></div>
      <div class="circle c7"></div>
      <div class="circle c8"></div>
    </div>
    <div class="cloud small">
      <div class="circle c0"></div>
      <div class="circle c1"></div>
      <div class="circle c2"></div>
      <div class="circle c3"></div>
      <div class="circle c4"></div>
      <div class="circle c5"></div>
      <div class="circle c6"></div>
      <div class="circle c7"></div>
      <div class="circle c8"></div>
    </div>

  </div>
  <div class="contact">
    <div class="contact-form">
      <h2>Are you in Danger ?</h2>

      <form action="/contact" method="post">
        <input id="person" name="person" type="text" placeholder="Full Name"><br>
        <input id="phone" name="phone" type="text" placeholder="Phone Number"><br>
        <input id="area" name="area" type="text" placeholder="Area"><br>

        <div class="location">
          <h4>location</h4>
          <p>
            latitude: <span id="latitude"></span>&deg;<br>
            longitude: <span id="longitude"></span>&deg;
          </p>
        </div>

        <textarea id="problem" name="problem" placeholder="Problem" lang="5"></textarea><br>
        <button id="submit" type="submit" name="button">SEND MESSAGE</button>
      </form>
    </div>
  </div>

  <div class="bganime">
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
  </div>

  <script>
    let lat, lon;
    if ("geolocation" in navigator) {
      console.log("Geo is available");
      navigator.geolocation.getCurrentPosition(async position => {
        const name = document.getElementById("person").value;
        lat = position.coords.latitude;
        lon = position.coords.longitude;
        document.getElementById('latitude').textContent = lat;
        document.getElementById('longitude').textContent = lon;
      });
    } else {
      console.log("no geo")
    }

  </script>
</body>

</html>