<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/{{style}}">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
  <link rel="icon" type="image/x-icon" href="image/">
</head>

<body>

  <header></header>
  <div class="bg">

  </div>

  <div class="bganime">
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
  </div>

<nav class="nav1 backdrop-opacity-10 backdrop-blur-lg md:backdrop-blur-lg xl:md:bg-transparent">
         <div class="nav-left">
               <a href="/"><img class="logo" src="/image/logo.png"></a>
    
         </div>
          <div class="w-6 block md:hidden">
            <label for="navbarToggler">
                <div class="h-1 my-1 bg-white border-[1px] border-white"></div>
                <div class="h-1 my-1 bg-white border-[1px] border-white"></div>
                <div class="h-1 my-1 bg-white border-[1px] border-white"></div>
            </label>
        </div>
        <input type="checkbox" id="navbarToggler" class="hidden">
         <div class="nav-right top-16 left-0 hidden md:flex flex-col  md:flex-row justify-evenly items-center m-6 gap-6 ">
          
              <div class="nav-button transition duration-300 hover:scale-105">
                <a href="/">Home</a>
              </div>
              <div class="nav-button transition duration-300 hover:scale-105">
                <a href="/powers">Features</a>
              </div>
              <div class="nav-button transition duration-300 hover:scale-105">
                <a href="/merch">Merchandise</a>
              </div>
              <div class="nav-button  transition duration-300 hover:scale-105">
                <a href="/contact">Contact Me</a>
              </div>
              
         </div>
     </nav>
  <div class="content">
    <div class="name">
      <h2>I am SUPER SUGU</h2>
    </div>
    <div class="paragraph">
      <p>A superhero or superheroine is a stock character that possesses superpowers, and fits the role of the hero,
        typically using his or her powers to help the world become a better place, or dedicating themselves to
        protecting the public and fighting crime.</p>
      <div class=" button transition duration-300 hover:text-style-semibold">
        <a href="/contact">Are you In danger?</a>
      </div>

    </div>
  </div>


  </header>

  </head>

</body>
<script>
  $('#navbarToggler').change(function() {
    if ($(this).prop("checked")) {
        $('.bg').css("background-image", "linear-gradient(to right, #145DA0, #185a9d)")
        /*blur everything expect #sidebar in css*/
    }
    else{
        $('.bg').css("background-image", "url(/image/bg.jpg)")
    }
});
</script>


</html>