<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link rel="stylesheet" href="/stylesheets/{{style}}">
  <link rel="icon" type="image/x-icon" href="image/">
</head>

<body>
  <div class="loader"></div>

  <div class="bg">

  </div>

  <div class="bganime">
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
  </div>

  <nav>
    <div class="nav-left">
      <a href="/"><img class="logo" src="/image/logo.png"></a>
    </div>
    <div class="nav-right">
      <!--<div class="notification-icon">
                <img src="image/notification.png" alt="">
              </div>--->
      <div class="nav-button">
        <a href="/">Home</a>
      </div>
      <div class="nav-button">
        <a href="/powers">Powers</a>
      </div>
      <div class="nav-button">
        <a href="/merch">Merchandise</a>
      </div>
      <div class="nav-button">
        <a href="/contact">Contact Me</a>
      </div>
      <div class="nav-button">
        <a href="/login">Login</a>
      </div>
    </div>

    <div class="nav-right1">
      <!--<div class="notification-icon">
                <img src="image/notification.png" alt="">
              </div>--->
      <div class="nav-button">
        <a href="/"><img class="img2" src="/image/home.png"></a>
      </div>
      <div class="nav-button">
        <a href="/powers"><img class="img2" src="/image/power.png"></a>
      </div>
      <div class="nav-button">
        <a href="/merch"><img class="img2" src="/image/shop.png"></a>
      </div>
      <div class="nav-button">
        <a href="/contact"><img class="img2" src="/image/contact.png"></a>
      </div> 
      <div class="nav-button">
        <a href="/login"><img class="img2" src="/image/login.png"></a>
      </div>
    </div>



  </nav>
  <div class="content">
    <div class="name">
      <h2>
        <h1>WHO IS</h1>SUPER SUGU?
      </h2>
    </div>
    <div class="paragraph">
      <p>Sukumaran "Sugu" Chakrabarthi was born to two Scientists employed at Thodupuzha's nuclear power plant. Owing to
        an accident at his parent's workplace, Sugu was granted with telekinetic power over the elements. With his
        powers, he turns the kinetic energy created from calamities, man made or natural, into pure energy. He saves
        thousands from the disasters that frequent Thodupuzha, all while harnessing that power to solve the region's
        energy crisis. Super Sugu chose the latter and he hasn't looked back ever since..</p>
      <div class=" button transition duration-300 hover:text-style-semibold">
        <a href="/contact">Are you In danger?</a>
      </div>

    </div>
  </div>

<script>

</script>
  </header>
  </head>
</body>

</html>