<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/{{style}}">
    <title>Document</title>
     <link rel="icon" type="image/x-icon" href="image/logo1.png">
</head>

<body class="color0 text-gray-100 px-8 py-0 overflow-hidden ">
   <nav>
    <div class="nav-left">
      <a href="/"><img class="logo" src="/image/logo.png"></a>
    </div>
    <div class="nav-right">
      <!--<div class="notification-icon">
                <img src="image/notification.png" alt="">
              </div>--->
      <div class="nav-button">
        <a href="/">Home</a>
      </div>
      <div class="nav-button">
        <a href="/powers">Powers</a>
      </div>
      <div class="nav-button">
        <a href="/merch">Merchandise</a>
      </div>
      <div class="nav-button">
        <a href="/contact">Contact Me</a>
      </div> 
      <div class="nav-button">
        <a href="/login">Login</a>
      </div>
    </div>

    <div class="nav-right1">
      <!--<div class="notification-icon">
                <img src="image/notification.png" alt="">
              </div>--->
      <div class="nav-button">
        <a href="/"><img class="img2" src="/image/home.png"></a>
      </div>
      <div class="nav-button">
        <a href="/powers"><img class="img2" src="/image/power.png"></a>
      </div>
      <div class="nav-button">
        <a href="/merch"><img class="img2" src="/image/shop.png"></a>
      </div>
      <div class="nav-button">
        <a href="/contact"><img class="img2" src="/image/contact.png"></a>
      </div> 
      <div class="nav-button">
        <a href="/login"><img class="img2" src="/image/login.png"></a>
      </div>
    </div>



  </nav>
  

    <div class="flex mb-4 form-group  w-50 h-100 xl:mx-20 my-20 xl:w-50 inline xl:float-right xl:pr-40  ">
    <div class="jam w-full xl:w-100 md:w-50   p-5 rounded flex-0 backgroundbox items-end xl:px-10 ">
      <form class = "" action="/login" method="post">
   <div>
                    <span class=" text-sm text-gray-600 font-semibold tracking-wider" style="color: #fbfaf5;">Enter Username</span><br>
                    <input id="username" name="username"
                        class="form-control pl-5 pr-10  w-full bg-gray-300 text-gray-900 mt-1 p-2 rounded-lg focus:outline-none focus:shadow-outline"
                        type="text" placeholder="">
                </div>
                <div class="mt-4">
                    <span class=" text-sm text-gray-600 font-semibold tracking-wider" style="color: #fbfaf5;">Enter Password</span><br>
                    <input id="password" name="password"
                        class="pl-5 pr-10 w-full form-control bg-gray-300 text-gray-900 mt-1 p-2 rounded-lg focus:outline-none focus:shadow-outline"
                        type="password"></div>
                <div class="mt-4">
                    <button id="submit" type="submit"
                        class="btn btn-primary uppercase text-sm font-bold tracking-wide bg-indigo-500 text-gray-100 p-3 rounded-lg w-100  focus:outline-none focus:shadow-outline hover:bg-indigo-600 active:bg-indigo-700 focus:outline-none focus:ring focus:ring-indigo-300">
                        Login
                    </button>
                    
      </form>
      </div>
    </div>
        

</body>
<script src="https://cdn.tailwindcss.com"></script>

</html>

