<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/{{style}}">
    <title>Document</title>
</head>

<body class="color0 text-gray-100 px-8 py-2 overflow-hidden ">
    <nav>
    <div class="nav-left">
      <a href="/"><img class="logo" src="/image/logo.png"></a>
    </div>
    <div class="nav-right">
      <!--<div class="notification-icon">
                <img src="image/notification.png" alt="">
              </div>--->
      <div class="nav-button">
        <a href="/">Home</a>
      </div>
      <div class="nav-button">
        <a href="/powers">Powers</a>
      </div>
      <div class="nav-button">
        <a href="/merch">Merchandise</a>
      </div>
      <div class="nav-button">
        <a href="/contact">Contact Me</a>
      </div>

    </div>
  </nav>
    <div class="flex mb-5 pr-40 py-8 justify-end" >
        <div class="sm:w-50% md:w-1/3  p-5 girounded flex-5 backgroundbox">
            <form action="/login" method="post">
                <div>
                    <span class="uppercase text-sm text-gray-600 font-bold" style="color: #fff;">Enter Username</span><br>
                    <input id="username" name="username"
                        class="form-control w-full bg-gray-300 text-gray-900 mt-1 p-2 rounded-lg focus:outline-none focus:shadow-outline"
                        type="text" placeholder="">
                </div>
                <div class="mt-4">
                    <span class="uppercase text-sm text-gray-600 font-bold" style="color: #fff;">Enter Passwoord</span><br>
                    <input id="password" name="password"
                        class="w-full form-control bg-gray-300 text-gray-900 mt-1 p-2 rounded-lg focus:outline-none focus:shadow-outline"
                        type="password">
                <div class="mt-4">
                    <button id="submit" type="submit"
                        class="btn btn-primary uppercase text-sm font-bold tracking-wide bg-indigo-500 text-gray-100 p-3 rounded-lg w-100  focus:outline-none focus:shadow-outline hover:bg-indigo-600 active:bg-indigo-700 focus:outline-none focus:ring focus:ring-indigo-300">
                        Login
                    </button>
            </form>
        </div>
    </div>
    </div>
    </div>

</body>
<script src="https://cdn.tailwindcss.com"></script>

</html>