<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Features</title>
  <link rel="stylesheet" href="/stylesheets/{{style}}">
  <link rel="icon" type="image/x-icon" href="image/">
</head>

<body>

  <div class="bg2">
  </div>
  <div class="bganime">
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
  </div>
  <nav>
    <div class="nav-left">
      <a href="/"><img class="logo" src="/image/logo.png"></a>
    </div>
    <div class="nav-right">
      <!--<div class="notification-icon">
                <img src="image/notification.png" alt="">
              </div>--->
      <div class="nav-button">
        <a href="/">Home</a>
      </div>
      <div class="nav-button">
        <a href="/powers">Powers</a>
      </div>
      <div class="nav-button">
        <a href="/merch">Merchandise</a>
      </div>
      <div class="nav-button">
        <a href="/contact">Contact Me</a>
      </div>

    </div>
  </nav>

  <div class="row-product">
    <div class="item-box">
      <div class="item-image">
        <img src="image/tshirt.png">
      </div>
      <div class="item-details">
        <h5>T-Shirt<p></p>
        </h5>
        <div class="bottom-details">
          <p>₹900</p>
          <a href="#">Buy</a>
        </div>
      </div>
    </div>

    <div class="item-box">
      <div class="item-image">
        <img src="image/tshirt.png">
      </div>
      <div class="item-details">
        <h5>T-Shirt<p></p>
        </h5>
        <div class="bottom-details">
          <p>₹900</p>
          <a href="#">Buy</a>
        </div>
      </div>
    </div>

    <div class="item-box">
      <div class="item-image">
        <img src="image/tshirt.png">
      </div>
      <div class="item-details">
        <h5>T-Shirt<p></p>
        </h5>
        <div class="bottom-details">
          <p>₹900</p>
          <a href="#">Buy</a>
        </div>
      </div>
    </div>


  </div>

  <div class="row-product-1">

    <div class="item-box">
      <div class="item-image">
        <img src="image/tshirt.png">
      </div>
      <div class="item-details">
        <h5>T-Shirt<p></p>
        </h5>
        <div class="bottom-details">
          <p>₹900</p>
          <a href="#">Buy</a>
        </div>
      </div>
    </div>

    <div class="item-box">
      <div class="item-image">
        <img src="image/tshirt.png">
      </div>
      <div class="item-details">
        <h5>T-Shirt<p></p>
        </h5>
        <div class="bottom-details">
          <p>₹900</p>
          <a href="#">Buy</a>
        </div>
      </div>
    </div>

    <div class="item-box">
      <div class="item-image">
        <img src="image/tshirt.png">
      </div>
      <div class="item-details">
        <h5>T-Shirt<p></p>
        </h5>
        <div class="bottom-details">
          <p>₹900</p>
          <a href="#">Buy</a>
        </div>
      </div>
    </div>


  </div>








  </script>

</body>

</html>