<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Features</title>
  <link rel="stylesheet" href="/stylesheets/{{style}}">
  <link rel="icon" type="image/x-icon" href="image/logo1.png">
   {{!-- <script src="https://cdn.tailwindcss.com"></script> --}}
</head>

<body>

  <div class="bg2">
  </div>
  <div class="bganime">
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
  </div>
<nav>
    <div class="nav-left">
      <a href="/"><img class="logo" src="/image/logo.png"></a>
    </div>
    <div class="nav-right">
      <!--<div class="notification-icon">
                <img src="image/notification.png" alt="">
              </div>--->
      <div class="nav-button">
        <a href="/">Home</a>
      </div>
      <div class="nav-button">
        <a href="/powers">Powers</a>
      </div>
      <div class="nav-button">
        <a href="/merch">Merchandise</a>
      </div>
      <div class="nav-button">
        <a href="/contact">Contact Me</a>
      </div> 
    

    </div>

       <div class="nav-right1">
      <!--<div class="notification-icon">
                <img src="image/notification.png" alt="">
              </div>--->
      <div class="nav-button">
        <a href="/"><img class="img2" src="/image/home.png"></a>
      </div>
      <div class="nav-button">
        <a href="/powers"><img class="img2" src="/image/power.png"></a>
      </div>
      <div class="nav-button">
        <a href="/merch"><img class="img2" src="/image/shop.png"></a>
      </div>
      <div class="nav-button">
        <a href="/contact"><img class="img2" src="/image/contact.png"></a>
      </div> 
      
    </div>

  </nav>

    </div>
  </nav>
<h2 class="heading-h2">Merchandise</h2>
  <div class="row-product">
   
    <div class="item-box">
      <div class="item-image">
        <img src="image/march1.png">
      </div>
      <div class="item-details">
        <h5>T-Shirt<p></p>
        </h5>
        <div class="bottom-details">
          <p>₹899</p>
          <a href="#">Buy</a>
        </div>
      </div>
    </div>

    <div class="item-box transition duration-300 hover:scale-105">
      <div class="item-image">
        <img src="image/march2.png">
      </div>
      <div class="item-details">
        <h5>Cap<p></p>
        </h5>
        <div class="bottom-details">
          <p>₹499</p>
          <a href="#">Buy</a>
        </div>
      </div>
    </div>

    <div class="item-box transition duration-300 hover:scale-105">
      <div class="item-image">
        <img src="image/march3.png">
      </div>
      <div class="item-details">
        <h5>Mug<p></p>
        </h5>
        <div class="bottom-details">
          <p>₹299</p>
          <a href="#">Buy</a>
        </div>
      </div>
    </div>


  </div>

  <div class="row-product-1">

    <div class="item-box transition duration-300 hover:scale-105">
      <div class="item-image">
        <img src="image/march4.png">
      </div>
      <div class="item-details">
        <h5>Frame<p></p>
        </h5>
        <div class="bottom-details">
          <p>₹199</p>
          <a href="#">Buy</a>
        </div>
      </div>
    </div>

    <div class="item-box transition duration-300 hover:scale-105">
      <div class="item-image">
        <img src="image/march5.png">
      </div>
      <div class="item-details">
        <h5>T-Shirt<p></p>
        </h5>
        <div class="bottom-details">
          <p>₹999</p>
          <a href="#">Buy</a>
        </div>
      </div>
    </div>

    <div class="item-box transition duration-300 hover:scale-105">
      <div class="item-image">
        <img src="image/march6.png">
      </div>
      <div class="item-details">
        <h5>Cover<p></p>
        </h5>
        <div class="bottom-details">
          <p>₹99</p>
          <a href="#">Buy</a>
        </div>
      </div>
    </div>


  </div>








  </script>

</body>

</html>