<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Features</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/x-icon" href="image/">
</head>

<body>

    <div class="bg">
        <img src="/image/bg2.png">
    </div>
    <div class="bganime">
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
    </div>
    <nav>
        <div class="nav-left">
            <h2>SUPER SUGU</h2>
        </div>
        <div class="nav-right">
            <div class="notification-icon">
                <img src="/image/notification.png" alt="">
            </div>
            <div class="nav-button">
                <a href="/">Home</a>
            </div>
            <div class="nav-button">
                <a href="/powers">Features</a>
            </div>
            <div class="nav-button">
                <a href="/merch">Merchandise</a>
            </div>
            <div class="nav-button">
                <a href="/contact">Contact Me</a>
            </div>

        </div>
    </nav>

    <div class="content">

    </div>




    </script>

</body>

</html>