<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/{{style}}">
  <link rel="icon" type="image/x-icon" href="image/">
</head>

<body>
  <header></header>
  <div class="bg4">

  </div>

  <div class="bganime">
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
  </div>

<nav class="nav1 backdrop-opacity-10 backdrop-blur-lg md:backdrop-blur-lg xl:md:bg-transparent">
         <div class="nav-left">
               <a href="/"><img class="logo" src="/image/logo.png"></a>
    
         </div>
          <div class="w-6 block md:hidden">
            <label for="navbarToggler">
                <div class="h-1 my-1 bg-white border-[1px] border-white"></div>
                <div class="h-1 my-1 bg-white border-[1px] border-white"></div>
                <div class="h-1 my-1 bg-white border-[1px] border-white"></div>
            </label>
        </div>
        <input type="checkbox" id="navbarToggler" class="hidden">
         <div class="nav-right top-16 left-0 hidden md:flex flex-col  md:flex-row justify-evenly items-center m-6 gap-6 ">
          
              <div class="nav-button transition duration-300 hover:scale-105">
                <a href="/">Home</a>
              </div>
              <div class="nav-button transition duration-300 hover:scale-105">
                <a href="/powers">Features</a>
              </div>
              <div class="nav-button transition duration-300 hover:scale-105">
                <a href="/merch">Merchandise</a>
              </div>
              <div class="nav-button  transition duration-300 hover:scale-105">
                <a href="/contact">Contact Me</a>
              </div>
              
         </div>
     </nav>


  </header>

  </script>
  </head>

</body>

</html>