<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/{{style}}">
  {{!--
  <script src="https://cdn.tailwindcss.com"></script> --}}
  <link rel="icon" type="image/x-icon" href="image/logo1.png">
</head>

<body>
  <header></header>
  <div class="bg4">

  </div>

  <div class="bganime">
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
  </div>

  <nav>
    <div class="nav-left">
      <a href="/"><img class="logo" src="/image/logo.png"></a>
    </div>
    <div class="nav-right">
      <!--<div class="notification-icon">
                <img src="image/notification.png" alt="">
              </div>--->
      <div class="nav-button">
        <a href="/">Home</a>
      </div>
      <div class="nav-button">
        <a href="/powers">Powers</a>
      </div>
      <div class="nav-button">
        <a href="/merch">Merchandise</a>
      </div>
      <div class="nav-button">
        <a href="/contact">Contact Me</a>
      </div>


    </div>
  </nav>
  <audio id="mySoundClip">
    <source src="/audio/water.wav">
    </source>
  </audio>

  <div class="powers">
    <div class="list-power">
      <div class="fire">
        <div class="power-content">
          <h2>Fire</h2>
          <p>The Firefighting Phenomenon. Super Sugu douses fires that frequent the lush forests of Thodupuzha and
              instead sets the hearts of its locals ablaze all the while carrying ice in his veins. The flames put out
              is put back on whenever the people of Thodupuzha need a hot mutton soup on a chilly monsoon evening.</p>

        </div>
        <div class="power-image">
          <img src="/image/fire.gif">
        </div>

      </div>
      <div class="earth">


        <div class="power-image1">
          <img src="/image/earth.gif">

        </div>
        <div class="power-content1">
          <h2>Earth</h2>
          <p>Earth-shatteringly mighty. Thodupuzha's landslides are a bane, turning its locals into a population pudding
            everytime it feels like it. Well fret no longer, as Super Sugu's earth bending powers puts the dirt back in
            its place, and his doubters as well.</p>

        </div>
      </div>
    </div>

    <div class="list-power1">
      <div class="electricity">
        <div class="power-content">
          <h2>Electricity</h2>
          <p>A lightning rod or a meta human battery? Exposed personnel working in the industrial region of thodupuzha
            getting fried is a thing of a past as Super Sugu absorbs all power surges and converts it back into useful
              energy whenever the need arises, lightning fast. Never miss a text from your crush again due to a power
              cut!</p>


        </div>
        <div class="power-image">
          <img src="/image/electricity.gif">

        </div>


      </div>

      <div class="water">


        <div class="power-image1">
          <img src="/image/water.gif">

        </div>
        <div class="power-content1">
          <h2>Water</h2>
          <p>Water, water everywhere. The omnipresence of water during a classic Thodupuzha deluge only finds a worthy
            competitor in Super Sugu, who gives back the sea what belongs to it and the people their livelihoods back.
          </p>


        </div>
      </div>
    </div>
  </div>

  </header>

  </head>

</body>

</html>