<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/{{style}}">
  <link rel="icon" type="image/x-icon" href="image/logo1.png">
</head>

<body>
  <header></header>
  <div class="bg4">

  </div>

  <div class="bganime">
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
  </div>

  <nav>
    <div class="nav-left">
      <a href="/"><img class="logo" src="/image/logo.png"></a>
    </div>
    <div class="nav-right">
      <!--<div class="notification-icon">
                <img src="image/notification.png" alt="">
              </div>--->
      <div class="nav-button">
        <a href="/">Home</a>
      </div>
      <div class="nav-button">
        <a href="/powers">Powers</a>
      </div>
      <div class="nav-button">
        <a href="/merch">Merchandise</a>
      </div>
      <div class="nav-button">
        <a href="/contact">Contact Me</a>
      </div>

    </div>
  </nav>

<div class="powers">
  <div class="list-power">
    <div class="fire">
      <div class="power-image">
        <img src="/image/fire.gif">

      </div>
      <div class="power-content">
        <h2>Fire</h2>
        <p>Earth-shatteringly mighty. Thodupuzha's landslides are a bane, turning its locals into a population pudding everytime it feels like it. Well fret no longer, as Super Mallu's earth bending powers puts the dirt back in its place, and his doubters as well.</p>

      </div>
    </div>
    <div class="earth">
      
      <div class="power-content1">
        <h2>Earth</h2>
        <p>Earth-shatteringly mighty. Thodupuzha's landslides are a bane, turning its locals into a population pudding everytime it feels like it. Well fret no longer, as Super Mallu's earth bending powers puts the dirt back in its place, and his doubters as well.</p>

      </div>
      <div class="power-image1">
        <img src="/image/earth.gif">

      </div>
    </div>
  </div>

    <div class="list-power1">
    <div class="electricity">
       <div class="power-image">
          <img src="/image/electricity.gif">

      </div>
      <div class="power-content">

      </div>
       

    </div>
    <div class="water">
      
      <div class="power-content1">

      </div>
        <div class="power-image1">
          <img src="/image/water.gif">

      </div>
    </div>
  </div>
</div>

  </header>

  </script>
  </head>

</body>

</html>