.color1{
    background-color: #543ce0;
}
.color0{
    
    background-color: #080c52 ;
}

.avatar1{
    position: absolute;
    width: 603px;
    height: 409px;
    left: 1013px;
    top:-133px;}
.text-color1{
    color:#324dd1

}

.text-color2{
    color: #ffffff;
}

.text-color3{
    color:#9B969B
}