/* @font-face {
    font-family: SFPRODISPLAYREGULAR;
    src: url(/font/SFPRODISPLAYREGULAR.OTF);
  }
@font-face {
    font-family: SFPRODISPLAYMEDIUM;
    src: url(/font/SFPRODISPLAYMEDIUM.OTF);
  }
@font-face {
    font-family: SFPRODISPLAYBOLD;
    src: url(/font/SFPRODISPLAYBOLD.OTF);
  } */

  a,p,span,input{
    font-family: 'Kanit', sans-serif;
    
}
body{
    background-image: url(/image/bg5.jpg);
    height: 100vh;
  width: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  cursor:url(/image/logo.cur),auto;
  
}
.color1{
    background-color: #543ce0;
}
.color0{
    
    background-color: #080c52 ;
}

.backgroundbox{
    float: right;
    border-radius: 2em;
    overflow: hidden;
    height: 100%;
   
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  position: relative;
  z-index: 10;

  overflow: hidden;
  backdrop-filter: blur(5px);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 2% 10px 1.5%;
    position: sticky;
    top:0;
    z-index: 5;
    
}
.logo{
    width: 130px;
    padding: 4px;
    margin-right: 16.5px;

  
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}

.nav-right {
    margin-right: 40px;
}
.nav-user-icon img{
    width: 31px;
    border-radius: 20%;
    cursor: pointer;
    margin-top: 3px;
    
}
.nav-button  a{
    border-radius: 8px;
    cursor: pointer;
    margin-right: 23px;
    padding: 10px 22px 12px 22px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.notification-icon {
    border-radius: 8px;
    cursor: pointer;
    margin-right: 23px;
    padding: 5px 10px 7px 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
}
.nav-button:hover a{
    filter: brightness(1.5);
    background: rgba(255, 255, 255, 0.24);


}
.notification-icon img{
    width: 18px;
    opacity: .5;
    margin-top: 5px;
}
.nav-user-icon{
    margin-left: 20px;
}
.nav-button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-family: 'Kanit', sans-serif;
    opacity: 1;
}a
.online{
    position:relative;
}



.mobileform{
    position: absolute;
width: 248px;
height: 476px;
left: 46px;
top: 196px;
}

.avatar1{
    position: absolute;
    width: 603px;
    height: 409px;
    left: 1013px;
    top:-133px;}
.text-color1{
    color:#324dd1

}

.text-color2{
    color: #ffffff;
}

.text-color3{
    color:#9B969B
}
.nav-right1{
    display: none;
  }

  @media only screen and (max-width: 768px) {
  .nav-right1{
    display: block;
    display: flex;
    flex-direction: row;
    margin-right: 25px;
  }
  .nav-right{
    display: none;
  
  }

  
  
  .nav-button img{
    width: 24px;
    border-radius: 20%;
    cursor: pointer;
    margin-top: 3px;
    padding: 5px;
    background: rgba(129, 129, 129, 0.078);
    backdrop-filter: blur(10px);
    border-radius: 8px;
  
    
  }
  .nav-button:hover img{
    filter: brightness(1.5);
  
  }
  .nav-button  a{
    border-radius: 8px;
    cursor: pointer;
    margin-right: 6px;
    padding: 1px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
  }
  .nav-button:hover a{
    filter: brightness(1.5);
    background: rgba(255, 255, 255, 0);
  
  
  
  }
.flex{
    width: 100%;
}
.jam{
    width: 100%;
}
}